<style>
  div {
    font-size: 20px;
    padding: 5px,
      text-align: left;
  }
</style>


<div id="form">
<%= form_for(@objective) do |form| %>
  <div class="name field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="description field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div><br>
  <div class="user field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="date field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>
  <div class="group field">
    <%= form.label :group %>
    <%= form.collection_select :group_id, Group.all, :id, :name %>
  </div>
  <div class="completed field">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>
  <div id="post" class="actions">
    <%= form.submit %>
    
  </div>
  <% end %>

  <div id="postResult">
    <td id="postName"></td>
    <td id="postDescription"></td>
    <td id="postUser"></td>
    <td id="postDate"></td>
    <td id="postGroup"></td>
    <td id="postComplete"></td>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('form').submit(function (event) {
        event.preventDefault();
        const checked = this.completed == true ? 'completed' : ''
        let values = $(this).serialize();
        let posting = $.post('/objectives.json', values);
        posting.done(function (data) {
          debugger
          const newObj = new Objective(data.id, data.name, data.description, data.user.name, data.due_date, data.group_id, data.completed) 
          
          $("#form").reset()
        });
      });
    });
  </script>
  </form>
</div>