<p id="notice"><%= notice %></p>

<p>
  <strong>New Group Name: </strong>
  <%= @group.name %><br/>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
<%= link_to 'New', new_group_path %>
