<style>
div, h1, ol, button {
    width: auto;
    height: auto;
    text-align: left;
}
nav {
  background-color: #D0ECE7;
}
</style>
<nav class="navbar">
<div id="title" class="nav-title">
<h1>Hop-Click</h1>
  <div id="account">
    <% if !current_user %>
    <ol>
      <button><%= link_to "Sign in", new_user_session_path %></button>
      <button><%= link_to "Create Account", new_user_registration_path %></button>
    </ol>
    <% else %>
    <section id="loggedSection">
    <ol id="logged">
      <button><%= link_to "Home", root_path %></button>
      <button><%= link_to "Groups", groups_path %></button>
      <button><%= link_to "Objectives", objectives_path %></button>
      <button><%= link_to "Manage Account", edit_user_registration_path %></button>
      <button><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
      </ol>
    <% end %>
    </section>
  </ul>
  </div>
</nav>
